
    <div class="box">
              <% if pin.image.exists? %>
              <%= link_to (image_tag pin.image), pin %>
              <% end %>

            <p class="description">
              <%= pin.description %>
            </p>
          <% if current_user == pin.user %>
              <%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-info" %>
              <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %>
          <% end %>
    </div>