    <div class="col-md-6">
        <p id="notice"><%= notice %></p>

      <div class="well">
        <p >
          <%= @pin.description %>
        </p>
      </div>
      <%= link_to 'Edit', edit_pin_path(@pin),class: "btn btn-info" %> |
      <%= link_to 'Back', pins_path,class: "btn btn-info" %>

    </div>